[user]
  name  = Hilenet
  email = illogical.j@gmail.com
[alias]
  br = branch
  ch = checkout
  cp = cherry-pick
  di = diff
  st = status
[url "github:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git@github.com
[core]
  # 日本語コミットの文字コード化を防げ
  quotepath = false
  editor    = vim
  excludesfile = ~/.gitexclude
